html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #1C1B21;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.verticalAlign--fix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.goTopBtn {
  position: fixed;
  display: inline-block;
  top: 50px;
  right: 50px;
  background-color: transparent;
  border: none;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: +1;
}

.goTopBtn svg {
  width: 50px;
  height: 50px;
  fill: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.goTopBtn:hover svg {
  fill: #fff;
  background-color: #7a66cc;
}

.goTopBtn-show {
  opacity: 1;
  cursor: pointer;
}

.header {
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), color-stop(92.19%, #1C1B21)), url(../images/bg-hiro.png);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #1C1B21 92.19%), url(../images/bg-hiro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  height: 1000px;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}

.header__nav {
  display: inline-block;
}

.header__nav li {
  display: inline-block;
}

.header__nav li + li {
  margin-left: 56px;
}

.header__nav a {
  padding: 4px 10px;
  color: #cec4f7;
}

.header__nav a:hover {
  color: #fff;
  border-bottom: 3px solid rgba(122, 102, 204, 0.5);
}

.header .btn-menu {
  display: none;
}

.header .btn-menu svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  cursor: pointer;
}

.header .btn-menu svg:hover {
  fill: #7A66CC;
}

.header .btn-menu--active svg {
  fill: #7A66CC;
}

.header a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.hiro {
  height: 900px;
}

.hiro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.hiro__audio figure {
  margin-top: 50px;
}

.hiro__audio figcaption {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 70px;
}

.audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.audio__progress__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 887px;
  width: 100%;
  margin: 0 45px;
}

.audio__progress__bar {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 2px;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: e-resize;
}

.audio__progress__bar::-webkit-progress-bar {
  background-color: #fff;
}

.audio__progress__bar::-webkit-progress-value {
  background-color: #7A66CC;
}

.audio__progress__bar::-moz-progress-bar {
  background-color: #7A66CC;
}

.audio:hover .audio__progress__bar {
  height: 10px;
}

.audio:hover .audio__toddler {
  height: 30px;
  width: 4px;
}

.audio__toddler {
  position: absolute;
  display: block;
  width: 2px;
  height: 20px;
  background-color: #7A66CC;
  cursor: e-resize;
  -webkit-transition: .1s;
  transition: .1s;
}

.audio__toddler__control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  display: block;
  width: 4px;
  height: 30px;
  cursor: e-resize;
  background-color: #b6a9e7af;
  opacity: 0;
}

.audio__toddler__control--opacity {
  opacity: 1;
}

.audio__toddler__currTime {
  position: relative;
  bottom: -35px;
  left: -48px;
  display: block;
  width: 100px;
  text-align: center;
}

.audio__btn {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.audio__btn svg {
  fill: #fff;
  -webkit-transition: .1s;
  transition: .1s;
}

.audio__btn svg:hover {
  fill: #7A66CC;
}

.audio__time {
  text-align: center;
  width: 90px;
}

.interesting {
  -webkit-transform: translatey(-150px);
          transform: translatey(-150px);
}

.interesting .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.interesting__item {
  position: relative;
  min-width: 300px;
  width: 31.53%;
  border-radius: 20px 0;
  overflow: hidden;
}

.interesting__item img {
  width: 100%;
  border-radius: 20px 0;
  opacity: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

.interesting__item p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(122, 102, 204, 0.7);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px 0;
  -webkit-transition: .2s;
  transition: .2s;
  white-space: nowrap;
}

.interesting__item:hover p {
  bottom: 77%;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: rgba(122, 102, 204, 0.9);
}

.interesting__item:hover img {
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.biography {
  margin-top: 30px;
}

.biography .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.biography__content {
  max-width: 540px;
  width: 100%;
}

.biography__content svg {
  margin-right: 30px;
}

.biography__content h2 {
  margin-bottom: 60px;
}

.biography__content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  opacity: 0.7;
}

.biography__content p + p {
  margin-top: 25px;
}

.biography__content ul {
  margin-top: 60px;
  width: 100%;
}

.biography__content li {
  position: relative;
  display: block;
  width: 50%;
  padding-left: 50px;
  height: 30px;
  margin-top: 30px;
  float: left;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.biography__content li::before {
  position: absolute;
  left: 0;
  bottom: 3px;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #7A66CC;
  border-radius: 10px 0;
}

.biography__img {
  position: relative;
  width: 445px;
  height: 466px;
  margin-top: 60px;
}

.biography__img img {
  border-radius: 30px 0;
  opacity: .3;
  -webkit-transition: .8s;
  transition: .8s;
}

.biography__img .img--top {
  position: absolute;
  top: 0;
  left: 0;
}

.biography__img .img--bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.biography__img .img--opacity {
  z-index: +1;
  opacity: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

.feature {
  margin-top: 150px;
  height: 483px;
  padding: 0 15px;
}

.feature .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 60px;
  height: 313px;
  border: 1px solid #fff;
  border-radius: 30px 0;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 50px 80px;
}

.feature__content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.feature__content p {
  background-image: url(../../images/icon-parag.png);
  background-repeat: no-repeat;
  background-position-y: 4px;
}

.feature__content hr {
  margin: 25px 0;
  opacity: .6;
}

.feature__content a {
  text-decoration: none;
  font-weight: bold;
  color: #7A66CC;
  padding: 4px 10px;
}

.feature__content a:hover {
  border-bottom: 3px solid rgba(122, 102, 204, 0.5);
}

.feature__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feature__img img {
  border-radius: 30px 0;
}

.lastTracks {
  margin-top: 180px;
}

.lastTracks .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.lastTracks__img {
  margin-top: 35px;
  max-width: 500px;
  width: 100%;
  border-radius: 50%;
  border: 20px solid rgba(122, 102, 204, 0.3);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.lastTracks__img img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
  border: 20px solid #7A66CC;
}

.lastTracks__content {
  max-width: 540px;
  width: 100%;
}

.lastTracks__content h2 {
  margin-bottom: 60px;
}

.lastTracks__content svg {
  margin-right: 30px;
}

.lastTracks__content ol {
  margin: 50px 0;
  counter-reset: item;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.lastTracks__content ol li {
  position: relative;
  cursor: pointer;
}

.lastTracks__content ol li + li {
  margin-top: 20px;
}

.lastTracks__content ol li:nth-child(-n+9)::before {
  position: absolute;
  top: 4px;
  content: "0" counter(item);
  counter-increment: item;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  opacity: .5;
}

.lastTracks__content ol li:nth-child(n+10)::before {
  content: counter(item);
  counter-increment: item;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  opacity: .5;
}

.lastTracks__content ol li:hover span {
  border-left: 2px solid #7A66CC;
  border-bottom: 3px solid #7A66CC;
  opacity: .5;
}

.lastTracks__content ol li:hover::after {
  position: absolute;
  left: -2px;
  top: 0;
  display: block;
  content: " \27A4 ";
  width: 20px;
  height: 30px;
  background-color: #1C1B21;
}

.lastTracks__content ol span {
  margin-left: 35px;
  padding: 0 10px;
  white-space: nowrap;
}

.lastTracks .audio--active {
  font-weight: 600;
  color: #7A66CC;
}

.lastTracks__subscrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 600;
}

.lastTracks__subscrip span {
  font-size: 24px;
  line-height: 36px;
  margin-right: 10px;
}

.lastTracks__subscrip a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  margin-left: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.lastTracks__subscrip a:hover {
  color: #7A66CC;
}

.lastTracks__subscrip a:hover svg {
  fill: #7A66CC;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.lastTracks__subscrip svg {
  margin-right: 10px;
  fill: #fff;
  width: 20px;
  height: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.stories {
  width: 100%;
  height: 500px;
  margin-top: 180px;
}

.stories .container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.stories .container .item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.stories .container .item-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 3 / 4;
}

.stories .container .item-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 3 / 5;
}

.stories__item {
  position: relative;
  overflow: hidden;
  border-radius: 30px 0;
}

.stories__item span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  background-color: rgba(28, 27, 33, 0.8);
  color: #7A66CC;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.stories__item:hover span {
  opacity: 1;
}

.news {
  position: relative;
  margin-top: 180px;
}

.news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__item {
  min-width: 300px;
  width: 31.53%;
  border-radius: 30px 0;
  background-color: #2F2B2B;
  overflow: hidden;
}

.news__item img {
  width: 100%;
  border-radius: 30px 0;
}

.news__item .newsImg--opacity {
  opacity: .8;
}

.news__title {
  position: relative;
  padding: 30px 35px 90px;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.news__title h3 {
  font-weight: bold;
  opacity: .5;
}

.news__title p {
  margin-top: 20px;
  font-weight: 500;
}

.news__date, .news__link {
  width: 50%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 20px;
}

.news__date {
  left: 0;
  opacity: .5;
}

.news__link {
  right: 0;
  background-color: #7A66CC;
  border-radius: 30px 0;
  opacity: .7;
  -webkit-transition: .2;
  transition: .2;
}

.news__link:hover {
  opacity: 1;
}

.news .btn {
  position: absolute;
  top: 40%;
  width: 40px;
  height: 60px;
  border: 1px solid #fff;
  background: none;
  border-radius: 10px 0;
  opacity: .5;
}

.news .btn-left {
  left: 100px;
}

.news .btn-right {
  right: 100px;
}

.news .btn:hover {
  opacity: 1;
  border-width: 3px;
  background-color: rgba(122, 102, 204, 0.5);
}

.footer {
  margin-top: 180px;
  text-align: center;
}

.footer__contacts table {
  margin: 60px auto;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer__contacts table td {
  padding: 0 15px;
  text-align: left;
  white-space: nowrap;
}

.footer__contacts .name-field {
  font-weight: 600;
  text-align: right;
}

.footer__subscrip a {
  display: inline-block;
  border-radius: 50px;
  padding: 8px;
  background-color: #7A66CC;
  border: 8px solid #2C2C2C;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 15px;
}

.footer__subscrip a:hover {
  background-color: #dfdfdf;
  border-color: #969696;
  -webkit-transform: translateY(-10px) rotate(360deg);
          transform: translateY(-10px) rotate(360deg);
}

.footer__subscrip a:hover svg {
  fill: #7A66CC;
}

.footer__subscrip svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__copy {
  margin-top: 60px;
  padding: 40px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  opacity: 0.5;
}

@media (max-width: 1140px) {
  h2 {
    font-size: 44px;
  }
  .container {
    padding: 0 15px;
  }
  .header {
    height: 900px;
  }
  .header__nav li + li {
    margin-left: 25px;
  }
  .hiro {
    height: 800px;
  }
  .hiro__audio figure {
    margin-top: 40px;
  }
  .hiro__audio figcaption {
    font-size: 80px;
  }
  .interesting {
    -webkit-transform: initial;
            transform: initial;
  }
  .biography {
    margin-top: 180px;
  }
  .feature .container {
    gap: 40px;
    height: 363px;
    padding: 30px 50px;
  }
  .lastTracks__content ol {
    font-size: 16px;
  }
  .lastTracks__subscrip span {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  h2 {
    font-size: 36px;
  }
  .header {
    height: 700px;
  }
  .header > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .header a {
    font-size: 16px;
  }
  .header__nav li + li {
    margin-left: 20px;
  }
  .hiro {
    height: 550px;
  }
  .hiro__audio figure {
    margin-top: 30px;
  }
  .hiro__audio figcaption {
    font-size: 70px;
    margin-bottom: 50px;
  }
  .interesting {
    margin-top: 90px;
  }
  .interesting .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .interesting__item {
    max-width: 400px;
    width: 100%;
  }
  .interesting__item img {
    border-radius: 25px 0;
  }
  .interesting__item p {
    font-size: 14px;
  }
  .biography {
    margin-top: 140px;
  }
  .biography .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .biography__content {
    max-width: 600px;
  }
  .biography__content h2 {
    margin-bottom: 40px;
  }
  .biography__content ul {
    margin-top: 30px;
  }
  .biography__content p {
    font-size: 14px;
  }
  .biography__content li {
    font-size: 16px;
  }
  .biography__img {
    margin-top: 30px;
  }
  .feature {
    height: initial;
  }
  .feature .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border: initial;
    height: initial;
  }
  .feature__content {
    font-size: 14px;
  }
  .feature__img {
    max-width: 400px;
    width: 100%;
  }
  .feature__img img {
    width: 100%;
  }
  .lastTracks .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .lastTracks__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .lastTracks__content {
    max-width: 400px;
  }
  .stories {
    height: 100%;
    margin-top: 140px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .stories .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  .stories .container .item-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
  }
  .stories .container .item-2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .stories .container .item-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  .stories .container .item-4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 5 / 3;
  }
  .stories .container .item-5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
  }
  .stories__item {
    border-radius: 60px 0;
  }
  .stories__item img {
    width: 100%;
  }
  .news .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__item {
    max-width: 400px;
    width: 100%;
  }
  .news__item img {
    border-radius: 35px 0;
  }
  .news .btn-left {
    left: 15px;
  }
  .news .btn-right {
    right: 15px;
  }
  .news__title {
    padding: 20px 25px 80px;
    font-size: 16px;
  }
  .footer table {
    font-size: 16px;
  }
  .footer__subscrip a {
    margin: 0 7px;
  }
  .footer__copy {
    margin-top: 30px;
  }
  .audio__progress__box {
    margin: 0 30px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
  .header > .container {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__nav {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header__nav li {
    width: 30%;
  }
  .header__nav li + li {
    margin: 0;
  }
  .header__nav a {
    display: inline-block;
    width: 100px;
    padding: 15px 10px;
    color: #fff;
    -webkit-transform: skew(-15deg);
            transform: skew(-15deg);
    border-top: 2px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .header__nav a:hover {
    color: #cdc1fc;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(122, 102, 204, 0.3);
    border-bottom: 3px solid #a699da;
    border-right: 3px solid rgba(122, 102, 204, 0.5);
    border-left: 2px solid #b6a9e9;
  }
  .header__nav--active {
    display: block;
  }
  .header .btn-menu {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */